* {
  font-family: monospace;
  font-size: large;
}

body {
  margin: 1rem 5rem 1rem 5rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 0.5rem;
  min-width: 8rem;
  border-radius: 0.5rem;
  border: 0.2px solid black;
}

.new-entry-button {
  background-color: lightgreen;
}

.entry-modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgoldenrodyellow;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.2px solid black;
}

.entry-modal.active {
  display: block;
}
